<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- 全局配置 -->
    <settings>

        <!-- getGeneratedKey()获取自增主键值 -->
        <setting name="useGeneratedKey" value="true"/>


        <!-- 开启将从数据库查询的带下划线列名映射为实体对象中驼峰命名对应的属性名
            例如 tuser表(user_id) ==>  User类(userId)
        -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>
